<?xml version="1.0"?>

<robot name="gvrbot" xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <!-- Included URDF Files    -->
    <xacro:include filename="$(find gvrbot)/models/robots/gvrbot_base3.urdf.xacro" />    
    <gvr_base_macro />
    
    <xacro:include filename="$(find gvrbot)/models/robots/frame_8020.urdf.xacro" />    
    <frame_8020 parent="base_link" offset_x="0.28" offset_y="0.135" offset_z="-0.115"/>
 
 
   <xacro:arg name="gpu" default="false"/>
  <xacro:property name="gpu" value="$(arg gpu)" />   
  <xacro:include filename="$(find velodyne_description)/urdf/HDL-32E.urdf.xacro"/>
  <HDL-32E parent="base_link" name="velodyne2" topic="/velodyne_points2" hz="10" samples="220" gpu="${gpu}">
    <origin xyz="-0.028 -0.006 0.46" rpy="0 0 0" />

  </HDL-32E>    
    
    
</robot>
