<?xml version="1.0"?>

<robot
  xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
  xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
  xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
  xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

 <xacro:include filename="$(find gvrbot)/models/robots/basic_colors.urdf.xacro" />
 <xacro:include filename="$(find gvrbot)/models/robots/inertial_tensors.urdf.xacro" />

  <!-- Properties (Constants) -->
  <xacro:property name="M_PI" value="3.14159" />
  
    <xacro:macro name="plexiglass_mount_macro">
      <link name="plexiglass_base">
        <inertial>
          <mass value="1.0" />
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <rectangular_prism_tensor mass="1.0" len_x="0.38" len_y="0.3" len_z="0.5"/>
        </inertial>

        <visual>
          <origin xyz="-0.25 -0.125 -0.03" rpy="0 0 0"/>
          <geometry>
              <mesh filename="package://gvrbot/models/meshes/mount_link.STL" />
          </geometry>
          <White />
        </visual>
      </link>

      <joint name="plex_base_joint" type="fixed">
        <origin xyz="0 0 0.03" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="plexiglass_base"/>
        <axis xyz="0 1 0"/>
      </joint>

    </xacro:macro>

    <xacro:macro name="plexiglass_mount_link" params="link_name x y z theta">
      <joint name="${link_name}_rigid_joint" type="fixed">
         <origin xyz="${x} ${y} ${z}" rpy="0 0 ${theta}"/>
         <parent link="plexiglass_base"/>
         <child link="${link_name}"/>
         <axis xyz="0 1 0"/>
      </joint>
      <link name="${link_name}"/>
    </xacro:macro>

  </robot>
