<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <xacro:include filename="$(find gvrbot)/models/urdf/inertial_tensors.urdf.xacro" />
    
    <xacro:property name="frame_size_x" value="0.680" />
    <xacro:property name="frame_size_y" value="0.20" />
    <xacro:property name="frame_size_z" value="0.30" />
    <xacro:property name="frame_mass" value="2.89" />  
    <xacro:property name="M_PI" value="3.14159"/> 

    <xacro:macro name="frame_8020" params="parent offset_x offset_y offset_z">
        <joint name="frame_8020_joint" type="fixed">
            <origin xyz="${offset_x} ${offset_y} ${offset_z}" rpy="0 0 ${-M_PI/2}" />
            <parent link="${parent}" />
            <child link="frame8020_link" />
        </joint>  

        <link name="frame8020_link">
            <inertial>
              <origin xyz="0.0 -0.0 0.0" rpy="0 0 0" />
              <mass value="${frame_mass}" />
              <rectangular_prism_tensor mass="${frame_mass}" len_x="${frame_size_x}" len_y="${frame_size_y}" len_z="${frame_size_z}" />
            </inertial>
            <visual>
              <origin xyz="0 0 0" rpy="0 0 0" />
              <geometry>
                <mesh filename="package://gvrbot/models/meshes/frame_8020.STL" />
              </geometry>
              <material name="">
                <color rgba="1 1 1 1" />
              </material>
            </visual>
            <collision>
              <origin xyz="0 0 0" rpy="0 0 0" />
              <geometry>
                <mesh filename="package://gvrbot/models/meshes/frame_8020.STL" />
              </geometry>
            </collision>
        </link>
   </xacro:macro>
   
</robot>
