<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <xacro:include filename="$(find gvrbot)/models/urdf/inertial_tensors.urdf.xacro" />
    
    <xacro:property name="frame_length" value="0.660" />
    <xacro:property name="frame_width" value="0.447" />
    <xacro:property name="frame_height" value="0.274" />
    <xacro:property name="frame_mass" value="2.89" />  
    <xacro:property name="M_PI" value="3.14159"/> 

    <xacro:macro name="frame_8020" params="parent offset_x offset_y offset_z">
        <joint name="frame_8020_joint" type="fixed">
            <!-- <origin xyz="${offset_x} ${offset_y} ${offset_z}" rpy="0 0 ${PI/2}" />   -->
          <origin xyz="0 0 0" rpy="0 0 0" />
            <parent link="${parent}" />
            <child link="frame8020_link" />
        </joint>  

        <link name="frame8020_link">
            <inertial>
              <!-- <origin xyz="0.135 -0.315 0.2" rpy="${PI/2} 0 ${PI/2}" /> -->
              <origin xyz="0.331 0.117 0.077" rpy="0 0 0" />
              <mass value="${frame_mass}" />
                <box_inertia x="${frame_length}" y="${frame_width}" z="${frame_height}" mass="${frame_mass}" />
            </inertial>
            <visual>
              <origin xyz="0 0 0" rpy="0 0 0" />
              <geometry>
                <mesh filename="package://gvrbot/models/meshes/IGVC_8020Frame.stl" />
              </geometry>
              <material name="">
                <color rgba="1 1 1 1" />
              </material>
            </visual>
            <collision>
              <origin xyz="0 0 0" rpy="0 0 0" />
              <geometry>
                <mesh filename="package://gvrbot/models/meshes/IGVC_8020Frame.stl" />
              </geometry>
            </collision>
        </link>
   </xacro:macro>
   
</robot>
