<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="rectangular_prism_tensor" params="mass len_x len_y len_z">
    <inertia   ixx="${ mass / 3 * ( len_y * len_y + len_z * len_z ) }" ixy="${ mass / 4 * len_x * len_y }" ixz="${ mass / 4 * len_x * len_z }"
               iyy="${ mass / 3 * ( len_y * len_y + len_z * len_z ) }" iyz="${ mass / 4 * len_y * len_z }"
               izz="${ mass / 3 * ( len_y * len_y + len_z * len_z ) }" />
  </xacro:macro>

  <!-- Z axis through the center of top and bottom  -->
  <xacro:macro name="cylinder_tensor" params="mass radius height">
    <inertia   ixx="${ mass / 12 * height * height + mass / 4 * radius * radius }" ixy="0.0" ixz="0.0"
               iyy="${ mass / 12 * height * height + mass / 4 * radius * radius }" iyz="0.0"
               izz="${ mass / 2 * radius * radius }" />
  </xacro:macro>
  
  <xacro:macro name="box_inertia" params="x y z mass">
      <inertia ixx="${0.0833333 * mass * (y*y + z*z)}" ixy="0.0" ixz="0.0"
        iyy="${0.0833333 * mass * (x*x + z*z)}" iyz="0.0"
        izz="${0.0833333 * mass * (x*x + y*y)}" />
  </xacro:macro>  
  
  
  <xacro:macro name="cylinder_inertial" params="radius length mass">
    <inertial>
      <mass value="${mass}" />
      <origin xyz="0 0 0" />
      <inertia ixx="${0.0833333 * mass * (3 * radius * radius + length * length)}" ixy="0.0" ixz="0.0"
        iyy="${0.0833333 * mass * (3 * radius * radius + length * length)}" iyz="0.0"
        izz="${0.5 * mass * radius * radius}" />
    </inertial>
  </xacro:macro>
  

</robot>
