<!--URDF Launch -->
<launch>
    <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched 
        <arg name="world_name" value="/opt/ros/melodic/share/jackal_gazebo/worlds/jackal_race.world"/> 
     -->
       <arg name="use_sim_time" default="true" />
      <arg name="gui" default="true" />
      <arg name="headless" default="false" />
        <arg name="world_name" value="/opt/ros/melodic/share/jackal_gazebo/worlds/jackal_race.world"/> 
     
  <!-- Launch Gazebo with the specified world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="0" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
    <arg name="headless" value="$(arg headless)" />
    <arg name="world_name" value="$(arg world_name)" />
  </include>


<!--
    <node name="gazebo_ros" pkg="gazebo_ros" type="gzclient"/>
 -->

    <!-- Convert an xacro and put on parameter server    -->
    
    <include file="$(find gvrbot)/launch/control.launch"/>  
    <include file="$(find gvrbot)/launch/description.launch"/>
    

    <!-- Spawn a robot into Gazebo      --> 
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-x 5.5 -y -1.5 -z 0.25 -param robot_description -urdf -model gvr01" />		
           
    <node pkg="interactive_marker_twist_server" type="marker_server" name="twist_marker_server"/>

    <include file="$(find gvrbot)/launch/xbox360_teleop.launch"/>

   
    
  <!--
    <param name="thayer_hall" textfile="/home/user1/catkin_ws/src/usma_gvrbot/models/buildings/Thayer1stFloor.sdf" />
    <node name="spawn_thayer_hall" pkg="gazebo_ros" type="spawn_model" args="-sdf -param thayer_hall  -x 0.0 -y -0.0 -z 0.0 -model thayer_hall" respawn="false" output="screen" />
    
    <node pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find gvrbot)/launch/gvrbot.rviz"/>

    
-->

</launch>
