<!--URDF Launch -->
<launch>
 
    <!-- Convert an xacro and put on parameter server  
	<param name= "robot_description11" command="$(find xacro)/xacro '$(find gvrbot)/models/urdf/frameOnly.xacro'"/>   
	<param name= "robot_description11" command="$(find xacro)/xacro '$(find gvrbot)/models/urdf/gvrbot2.urdf.xacro'"/>
	 -->
  
	<param name= "robot_description15" command="$(find xacro)/xacro '$(find gvrbot)/models/urdf/gvrbot.urdf.xacro'"/>
    
    <!-- Spawn a robot into Gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-x 4.5 -y -1.5 -z 0.25 -param robot_description15 -urdf -model gvr15" />
    
    
    <!-- <include file="$(find gvrbot)/launch/xbox360_teleop.launch"/>   -->

</launch>
