<launch>


<node pkg="tf" type="static_transform_publisher" name="velodyne_to_baselink" 
    args="0 0 0.61 0 0 0 1 base_link velodyne 100"/>

<node pkg="tf" type="static_transform_publisher" name="camera_to_baselink" 
    args="0 0.19 0.41 0 0 0 1 base_link camera_depth_frame 100"/>

<node pkg="tf" type="static_transform_publisher" name="map_to_odom"
    args="0 0 0 0 0 0 1 map odom 100"/>



</launch>
